@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.page {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 1920px;
  min-width: 425px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 30px 50px 0;
}

@media (max-width: 1024px) {
  .header {
    min-height: 100%;
  }
}

.header__privacy {
  padding: 30px 50px;
  min-height: fit-content;
}

.header__section_white {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: -1;
}

.header__section_yellow {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #FBB42C;
  z-index: -1;
}

@media(max-width: 768px) {
  .header__section_yellow {
    width: 100%;
  }
}

.header__logo img {
  width: 130px;
  height: 50px;
}

.navbar-expand-lg .navbar-collapse {
  max-width: 1000px;
  width: 100%;
}

@media(max-width: 991px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  width: 100%;
  justify-content: space-evenly;
}

.menu__item {
  position: relative;
}

.navbar-nav .nav-link.active:hover {
  color: #760592;
}

.menu__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #760592;
  transform: scale(0);
  width: 100%;
  transition: transform 0.3s;
}

.menu__item:hover::after {
  transform: scale(1);
}

.header__menu-text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  transition: .3s;
}

.header__menu-text:hover {
  color: #760592;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.mobile-contacts__list {
  justify-content: space-evenly;
}

.contacts__link {
  display: block;
  width: 25px;
  height: 25px;
}

.contacts__item:first-child .contacts__link {
  background: url(../img/icons/telegram.svg) center no-repeat;
  background-size: contain;

}

.contacts__item:nth-child(2) .contacts__link {
  background: url(../img/icons/whatsapp.svg) center no-repeat;
  background-size: contain;
}

.contacts__item:last-child .contacts__link {
  background: url(../img/icons/email.svg) center no-repeat;
  background-size: contain;
  width: 30px;
}

.navbar-toggler {
  display: flex;
  position: relative;
  border: none;
  width: 50px;
  height: 26px;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.mobile__nav {
  display: none;
}

@media(max-width: 991px) {
  .mobile__nav {
    display: flex;
    justify-content: space-between;
  }
}

.burger__menu {
  width: auto;
  margin: 0;
  padding: 0;
}

.burger {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}

.burger::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 75%;
  height: 2px;
  background: #000;
  transition: .3s;
}

.burger::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #000;
  transition: .3s;
}

.navbar-toggler:hover .burger::before,
.navbar-toggler:hover .burger::after {
  width: 100%;
}

.mobile__menu-section {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  transition: visibility .3s, opacity .3s linear;
}

.mobile__menu {
  background: #f5f5f5;
  min-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -1px;
  visibility: hidden;
  opacity: 0;
  z-index: 120;
  transition: .3s;
  transform: translateX(110%);
  cursor: auto;
}

.mobile__menu_visible {
  visibility: visible;
  transform: none;
  opacity: 1;
}

.offcanvas-header {
  padding: 20px;
}

.btn-close {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6c757d;
}

.btn-close span:first-child {
  position: absolute;
  transform: rotate(45deg);
}

.btn-close span:last-child {
  position: absolute;
  transform: rotate(-45deg);
}

.offcanvas-body {
  padding: 20px;
}

.mobile__list {
  text-align: center;
}

.mobile__item {
  font-size: 18px;
  line-height: 43px;
  letter-spacing: 1px;
  width: 100%;
}

.mobile__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #C2ABAB;
}

.mobile__item:last-child:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #C2ABAB;
}

.mobile__link {
  position: relative;
  color: #000;
}

.mobile__link:hover {
  color: inherit;
}

.mobile__link::before {
  content: "";
  display: inline-block;
  background: url(../img/logo/logo-link.png) center no-repeat;
  background-size: contain;
  width: 40px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header__titles {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 80px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .header__titles {
    margin: 70px 0 0;
  }
}

@media (max-width: 768px) {
  .header__titles {
    grid-template: 1fr 1fr / 1fr;
    row-gap: 50px;
  }
}

.header__title-left {
  max-width: 680px;
  text-align: left;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  margin: 0;
}

@media (max-width: 1024px) {
  .header__title-left {
    font-size: 30px;
    line-height: 33px;
  }
}

@media (max-width: 768px) {
  .header__title-left {
    font-size: 24px;
    max-width: 65%;
  }
}

@media (max-width: 425px) {
  .header__title-left {
    text-align: center;
    max-width: 100%;
  }
}

.header__title-left-color {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #760592, #FBB42C);
}

@media (max-width: 768px) {
  .header__title-left-color {
    color: #fff;
  }
}

.header__title-right {
  max-width: 680px;
  justify-self: right;
  text-align: right;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #fff;
  margin: 0;
}

@media (max-width: 768px) {
  .header__title-right {
    font-size: 24px;
    max-width: 65%;
  }
}

@media (max-width: 425px) {
  .header__title-right {
    text-align: center;
    max-width: 100%;
  }
}

.header__title-right-color {
  color: #760592;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.header__image {
  background: url(../img/photo.png) left no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 987px;
  height: auto;
  margin: 30px 0 0;
}

@media (max-width: 768px) {
  .header__image {
    display: none;
  }
}

.header__section-form {
  min-height: 387px;
  width: 80%;
  padding: 0 0 0 50px;
}

@media (max-width: 768px) {
  .header__section-form {
    min-height: 387px;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
}

.header__form {
  max-width: 625px;
  min-height: 360px;
  border: 3px solid #F5F5F5;
  border-radius: 20px;
  padding: 40px 45px;
  margin: 0 auto 40px;
}

@media (max-width: 1024px) {
  .header__form {
    padding: 20px;
    min-height: auto;
    max-width: 450px;
    margin: 0 0 70px;
  }
}

.form-contacts {
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  margin: 0 auto 12px;
  border: none;
  padding: 13px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #c2abab;
}

::-moz-placeholder {
  color: #c2abab;
}

:-ms-input-placeholder {
  color: #c2abab;
}

::-ms-input-placeholder {
  color: #c2abab;
}

::placeholder {
  color: #c2abab;
}

.send-text {
  width: 100%;
  border-radius: 10px;
  min-height: 118px;
  border: none;
  padding: 13px;
  margin: 0 0 27px;
  resize: none;
}

.send-text:focus {
  outline: none;
}

.form-btn {
  display: flex;
  padding: 15px 20px;
  background: #760592;
  color: #fff;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  line-height: 23px;
  transition: .5s;
}

.form-btn:hover {
  background: #333333;
}

.form-btn p {
  margin: 0 10px 0 0;
  transition: .5s;
}

.form-btn:hover p {
  margin: 0 20px 0 0;
}

@media (max-width: 1024px) {
  .form-btn {
    line-height: 13px;
    font-size: 16px;
  }
}

.label {
  display: flex;
  align-items: baseline;
  margin: 5px 0 0;
}

.label p {
  color: #fff;
  margin: 0 0 0 10px;
  font-size: 14px;
}

.label__popup p {
  color: #000;
}

.privacy {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.privacy__popup {
  border-bottom: 1px solid #000;
}

.privacy__popup:hover {
  text-decoration: none;
  color: #000;
}

.privacy:hover {
  text-decoration: none;
  color: #fff;
}

.main__privacy {
  padding: 50px 50px 0;
}

.header__form-title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 55px 0 25px;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__form-title {
    font-size: 22px;
    margin: 30px 0 25px;
  }
}

.line {
  width: 100%;
  height: 130px;
  background-color: #344848;
  z-index: 1;
  position: relative;
}

.about {
  padding: 100px 50px 0;
}

@media (max-width: 768px) {
  .about {
    padding: 70px 20px 0;
  }
}

.main__title {
  font-family: 'Montserrat Alternates';
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  margin: 0 0 50px;
}

@media (max-width: 768px) {
  .main__title {
    font-size: 34px;
    font-size: calc(34px + (46 - 34) * (100vw - 425px) / (1200 - 425));
    text-align: center;
  }
}

.price__list {
  display: grid;
  row-gap: 100px;
}

@media (max-width: 425px) {
  .price__list {
    row-gap: 50px;
  }
}

.about__us {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 20px;
}

@media(max-width: 1024px) {
  .about__us {
    grid-template: 1fr / 1fr;
  }
}

.about__left-paragraph {
  font-size: 18px;
  line-height: 21px;
}

.about__right {
  align-self: flex-end;
  justify-self: flex-end;
  max-width: 760px;
  width: 100%;
  /* max-height: 560px; */
}

@media(max-width: 1024px) {
  .about__right {
    order: -1;
    justify-self: center;
    margin: 50px 0 70px;
  }
}

.about__right-carousel {
  max-width: 577px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 30px;
  overflow: visible;
  background-color: #fff;
}

.about__right-carousel::before {
  content: "";
  border: 2px solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: -25px;
  z-index: -1;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #FBB42C, #760592);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.about__carousel {
  padding: 0 100px;
}

@media(max-width: 768px) {
  .about__carousel {
    padding: 0 30px;
  }
}

.carousel-button {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #000;
  opacity: 1;
  transition: .3s;
  background-color: #fff;
}

.carousel-button:hover {
  border: 2px solid #FBB42C;
  opacity: 1;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: #000;
  font-size: 40px;
  transition: .3s;
}

.carousel-button:hover .material-symbols-outlined {
  color: #FBB42C;
}

.arrow__left {
  transform: rotate(180deg);
}

.about__card {
  display: flex;
  flex-direction: row;
  border: none;
}

@media(max-width: 1244px) {
  .about__card {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card__size {
  max-width: 255px;
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 0;
}

.about__card-profession {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.about__our-work {
  padding: 100px 50px 0;
}

@media(max-width: 480px) {
  .about__our-work {
    padding: 100px 10px 0;
  }
}

.about__specialty {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  justify-content: space-around;
  margin: 80px 0 0;
}

@media(max-width: 768px) {
  .about__specialty {
    display: none;
  }
}

.about__specialty-carousel {
  display: none;
  max-width: 600px;
  min-height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 70px;
}

@media(max-width: 768px) {
  .about__specialty-carousel {
    display: block;
  }
}

.about__specialty-card {
  border: none;
  margin: 0 15px;
}

.about__speciality-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding: 15px 30px;
  background-color: #FBB42C;
  border-radius: 15px;
}

.about__speciality-paragraph {
  font-size: 18px;
  line-height: 21px;
  padding: 20px 20px 0;
}

.our__services {
  padding: 100px 50px 0;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 426px));
  gap: 50px;
  justify-content: space-around;
  margin: 65px 0 0;
}

.services__item {
  position: relative;
  max-width: 426px;
  min-height: 250px;
  border-radius: 20px;
  background: linear-gradient(136.05deg, #FBB42C 25.89%, #DE73F9 93.09%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__item:after {
  content: "";
  border: 3px solid #000;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.services__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-variant: small-caps;
  max-width: 275px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.services__subtitle::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 100%;
  height: 10px;
  background: #f5f5f5;
  border-radius: 20px;
  z-index: -1;
}

.our__price {
  padding: 100px 50px 0;
}

.price__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 35px 0;
}

@media(max-width: 1287px) {
  .price__item {
    justify-content: center;
  }
}

.price__works {
  flex-basis: 256px;
  height: 100px;
  background: #760592;
  border-radius: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 15px;
  margin: 0 45px;
}

@media(max-width: 1287px) {
  .price__works {
    margin: 0 0 35px;
    flex-basis: 100%;
    justify-content: center;
  }
}

.price__block {
  flex-basis: 20%;
  margin: 0 10px 0 0;
}

@media(max-width: 768px) {
  .price__block {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }
}

.price__about-works {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  flex-basis: 50%;
}

@media(max-width: 1252px) {
  .price__about-works {
    flex-basis: 70%;
  }
}

@media(max-width: 768px) {
  .price__about-works {
    flex-basis: 100%;
    margin: 35px 0 0;
    text-align: center;
  }
}

.price__coast {
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  margin: 0;
}

.price__wirking-time {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.portfolio {
  padding: 100px 50px 0;
}

.portfolio__carousel {
  padding: 0 100px;
}

@media (max-width: 1438px) {
  .portfolio__carousel {
    padding: 0;
  }
}

.portfolio__list {
  display: flex;
  min-height: 600px;
}

.portfolio__item {
  width: 100%;
}

.portfolio__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: none;
}

@media (max-width: 1439px) {
  .portfolio__card {
    flex-direction: column;
  }
}

.portfolio__paragraph {
  max-width: 300px;
  margin: 0 10px;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1439px) {
  .portfolio__paragraph {
    max-width: 600px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .portfolio__paragraph {
    font-size: 16px;
  }
}

.portfolio__image {
  max-width: 500px;
  max-height: 425px;
}

@media (max-width: 1439px) {
  .portfolio__image {
    order: -1;
  }
}

@media (max-width: 767px) {
  .portfolio__carousel-button {
    top: 110%;
  }

  .portfolio__carousel-button-left {
    left: 20%;
  }

  .portfolio__carousel-button-right {
    right: 20%;
  }
}

.questions {
  padding: 100px 50px 0;
}

@media (max-width: 767px) {
  .questions {
    padding: 150px 50px 0;
  }
}

.section__questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1400px) {
  .section__questions {
    justify-content: center;
  }
}

.question__section-left {
  max-width: 1000px;
  width: 100%;
  margin: 52px 0;
}

.card {
  border: none;
  border-radius: 0;
}

.card-header {
  padding: 0;
  background-color: transparent;
  border: none;
}

.accordion-item::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, #760592, #FBB42C, #FBB42C);
}

.accordion-item:last-child::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, #760592, #FBB42C, #FBB42C);
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  font-size: calc(21px + (24 - 21) * (100vw - 320px) / (1200 - 320));
  line-height: 21px;
  line-height: calc(21px + (28 - 21) * (100vw - 320px) / (1200 - 320));
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: #fff;
  border: none;
}

.accordion-background {
  background: #F5F5F5;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: inherit;
  color: inherit;

}

.accordion-button::after {
  content: "";
  display: inline-block;
  background: url(../img/icons/plus.svg) center no-repeat;
  min-width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  transition: .3s;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}

.card-body {
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
}

.questions__paragraph {
  padding: 0;
}
.question__section-right {
  animation: scale 2s ease-in-out infinite alternate;
}

@keyframes scale {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(30px);
  }
}

.question__button {
  width: 350px;
  width: calc(250px + (350 - 250) * (100vw - 320px) / (1440 - 320));
  height: 350px;
  height: calc(250px + (350 - 250) * (100vw - 320px) / (1440 - 320));
  border-radius: 50%;
  background: #760592;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration-line: underline;
  color: #fff;
  text-decoration: none;
  border: none;
  transition: .3s;
}

.question__button:hover {
  opacity: .8;
}

.question__button:focus {
  outline: none;
}

.footer {
  position: relative;
  min-height: 260px;
  background: #344848;
  margin: 100px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 45px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    align-content: space-evenly;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    min-height: 400px;
    justify-content: space-evenly;
  }
}

.footer__logo {
  background: url(../img/logo/logo-footer.png) center no-repeat;
  width: 130px;
  height: 50px;
  background-size: contain;
}

.footer__list-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 755px;
  width: 100%;
  margin: 0 50px;
}

@media (max-width: 768px) {
  .footer__list-menu {
    order: 1;
  }
}

@media (max-width: 480px) {
  .footer__list-menu {
    flex-direction: column;
    align-items: center;
  }
}

.footer__item-menu {
  position: relative;
}

.footer__item-menu:hover .footer__link-menu {
  color: #FBB42C;
}

.footer__item-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #FBB42C;
  transform: scale(0);
  width: 100%;
  transition: transform 0.3s;
}

.footer__item-menu:hover::after {
  transform: scale(1);
  color: #FBB42C;
}

.footer__link-menu {
  color: #fff;
  cursor: pointer;
  transition: .3s;
  padding: 8px 0;
}

@media (max-width: 480px) {
  .footer .contacts__list {
    order: 1;
    margin: 0 0 30px;
  }
}

.footer .contacts__item:first-child .contacts__link {
  background: url(../img/icons/telegram-white.svg) center no-repeat;
  background-size: contain;

}

.footer .contacts__item:nth-child(2) .contacts__link {
  background: url(../img/icons/whatsapp-white.svg) center no-repeat;
  background-size: contain;
}

.footer .contacts__item:last-child .contacts__link {
  background: url(../img/icons/email-white.svg) center no-repeat;
  background-size: contain;
}

.nice-dev {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #FBB42C;
  font-size: 12px;
  transition: .3s;
}

.nice-dev:hover {
  text-shadow: 0 0 10px #fff;
  color: #FBB42C;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  transition: visibility .3s, opacity .3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.popup__container {
  position: relative;
  width: 50vw;
  min-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 33px 36px 37px;
  margin: 0 19px;
  cursor: default;
}

.popup__button-close {
  background: url(../img/logo/close-icon.svg) center no-repeat;
  background-color: transparent;
  position: absolute;
  background-size: 32px;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  transition: .3s;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .popup__button-close {
    right: 0;
  }
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 48px;
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 25px;
  }
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 9px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.popup__input::-moz-placeholder {
  color: #c4c4c4;
}

.popup__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

.popup__textarea {
  resize: none;
  height: 150px;
}

.popup__button {
  color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  background: #760592;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.popup__button:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .popup__button {
    min-height: 47px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__form-lable {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
}

@media (max-width: 768px) {
  .popup__form-lable:nth-child(2) {
    padding: 0 0 10px;
  }
}

.content-form {
  display: none;
  margin: 20px;
  animation: feedback__form 0.5s;
  z-index: 100;
}

@keyframes feedback__form {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.feedback__form {
  display: block;
  background: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
}

.contacts__massage {
  display: none;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(45deg, #760592, #FBB42C);;
  box-shadow: 0 0 20px #760592;
  height: 50vh;
  width: 50vw;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  margin: auto;
}

.contacts__massage.active-form~* {
  opacity: 1;
  filter: blur(20px);
}

.contacts__massage img {
  width: calc((100vw - 320px) / (1280 - 320) * (90 - 60) + 60px);
}

.contacts__info {
  font-size: 32px;
  font-size: calc((100vw - 320px) / (1280 - 320) * (40 - 16) + 16px) !important;
  color: #fff;
}

.scrollup {
  display: none;
  background: #FBB42C;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0;
  z-index: 100;
}

.scrollup:hover {
  background: rgba(251, 178, 44, 0.8);
  box-shadow: 0 0 10px 0 #760592;
}
